

body {
    background-color: bisque;
}

.nav-bar {
    display: flex;
    justify-content: center;
    border: 2em;
    border-color: black;
}

.heading-one {
    font-family:'Courier New', Courier, monospace;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1em;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.first-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 25px;
}